
/* ************************************
 BOUTONS en entete
************************************* */

.bouton_top, .bouton_ajoute/*_groupe_competences*/
{
	margin:auto;
	margin:5px;
	padding:10px;
	width:200px;
	text-align:center;
	border-radius:10px;
	cursor:pointer;
	box-shadow: 8px 8px 12px #aaa;
	float:right;
}

.bouton_top
{
	background-color:#8edbff;
}

.bouton_ajoute
{
	background-color:#88FF88;
}


.bouton_top:hover, .bouton_ajoute:hover
{
	margin-top:7px;
	margin-right:3px;
	margin-bottom:3px;
	margin-left:7px;
	box-shadow: 4px 4px 6px #555;
}

.bouton_top:active, .bouton_ajoute:active
{
	margin-top:8px;
	margin-left:8px;
	box-shadow: 2px 2px 3px #222;
}




/* ************************************
GENERAL
************************************* */

.liste_competences
{
	text-align:center;
	width:100%;
	margin-top:10px;
}

/* ************************************
GROUPE COMPETENCES
************************************* */

/* GROUPE EN GENERAL */
.groupe_competences, .groupe_competences_unselected	/* Groupe de competence classique */
{
	margin:auto;
	margin-bottom:5px;
	background-color:#DDDDFF;
	border-radius:5px;
	box-shadow: 3px 3px 4px #aaa;
	width:90%;
	overflow:hidden;
}

/* ENTETES DU GROUPE */
.entete_groupe_competences	/* Entete/Titre Groupe de competence de base */
{
	margin:0px;
	padding:0px;
	/*padding-top:1px;
	padding-bottom:1px;*/
	border-radius:5px;
	cursor:pointer;
	color:white;
}
.groupe_competences .entete_groupe_competences	/* Entete/Titre Groupe de competence non-selectionné*/
{
	background-color:#BBBBFF;
}
.groupe_competences_unselected .entete_groupe_competences	/* Entete/Titre Groupe de competence non-selectionné*/
{
	background-color:#DDDDEE;
}
.entete_groupe_competences h3	/* Souris sur le titre */
{
	cursor:pointer;
	min-height:25px;
	vertical-align:middle;
	padding:20px;
	margin:0px;
	margin-right:20px;
}

/* CONTENU DU GROUPE */
.groupe_contenu
{
	display:none;
	padding:10px;
	overflow:hidden;
}

/* BOUTON AJOUTE COMPETENCES */
.boutonAjouteCompetence
{
	float:right;
	margin-right:20px;
	margin-top:15px;
	padding:5px;
	text-align:center;
	cursor:pointer;
	box-shadow: 8px 8px 12px #9999BB;
	background-color:#88FF88;/*#8888DD;*/
	border-radius:10px;
	color:black;
	font-weight:bold;
	font-size:small;
	vertical-align:middle;
}

.boutonAjouteCompetence img
{	vertical-align:middle;}

.boutonAjouteCompetence:hover
{
	box-shadow: 4px 4px 6px #7777AA;
	margin-right:18px;
	margin-top:17px;
}

.boutonSupprimerDomaine, .boutonModifDomaine
{
	float:right;
	vertical-align:middle;
	cursor:pointer;
	margin-top:15px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:5px;
 -webkit-filter: drop-shadow(4px 4px 5px #777799);
  filter: drop-shadow(4px 4px 5px #777799);
}

.boutonSupprimerDomaine:hover, .boutonModifDomaine:hover
{
	margin-top:17px;
	margin-left:2px;
	margin-bottom:-2px;
	margin-right:3px;
	-webkit-filter: drop-shadow(2px 2px 3px #555577);
	filter: drop-shadow(2px 2px 3px #555577);	
}

/* ************************************
COMPETENCES
************************************* */

.competence
{
	min-height:30px;
}

.competence_unselected
{
	background-color:#DDDDEE;
}

.competence_unselected h3
{
	color:white;
}

.competence h3,.competence_unselected h3
{
	cursor:pointer;
}

.boutonSupprimerCompetence, .boutonModifCompetence
{
	float:right;
	vertical-align:middle;
	cursor:pointer;
	margin-top:3px;
	margin-left:0px;
	margin-bottom:-3px;
	margin-right:0px;
	-webkit-filter: drop-shadow(4px 4px 5px #777799);
	filter: drop-shadow(4px 4px 5px #777799);
}

.boutonSupprimerCompetence:hover, .boutonModifCompetence:hover
{
	margin-top:6px;
	margin-left:3px;
	margin-bottom:-6px;
	margin-right:-3px;
	-webkit-filter: drop-shadow(2px 2px 3px #555577);
	filter: drop-shadow(2px 2px 3px #555577);
}
/* ************************************
INDICATEURS
************************************* */


.boutonAjouterIndicateur
{
	float:right;
	margin:5px;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	cursor:pointer;
	box-shadow: 8px 8px 12px #9999BB;
	background-color:#88FF88;/*#8888DD;*/
	border-radius:10px;
	color:black;
	font-weight:bold;
	font-size:x-small;
}
.boutonAjouterIndicateur img
{	vertical-align:middle;}

.boutonAjouterIndicateur:hover
{
	margin-right:2px;
	margin-left:8px;
	margin-top:8px;
	margin-bottom:2px;
	box-shadow: 4px 4px 5px #777799;
}


.listeIndicateurs
{
	display:none;
	overflow:hidden;
}

.listeIndicateurs table
{
	border-collapse: collapse;
}

.listeIndicateurs tr:hover
{
	background-color:#BBBBDD;
}

.indicateurs
{
	margin-left:5%;
	width:95%;
}

.indicateur_unselected
{
	background-color:white;
	color:gray;
}






.indicateurAllume, .indicateurEteint, .indicateurAllumeModifiable, .indicateurEteintModifiable
{
	display:inline-block;
	/*border:solid 1px;*/
	border-radius:5px;
	margin:0px;
	padding:0px;
	line-height: 30px;
	width:30px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	box-shadow: 8px 8px 12px #AAAACC;
	overflow:hidden;
}

.indicateurEteint, .indicateurEteintModifiable
{
	border:dashed 1px;;
}

.indicateurAllumeModifiable,.indicateurEteintModifiable
{
	cursor:pointer;
}

.indicateurAllumeModifiable:hover,.indicateurEteintModifiable:hover
{
	/*background-color:black;*/
	color:white;
	margin-top:5px;
	margin-left:5px;
	margin-bottom:-5px;
	margin-right:-5px;
	box-shadow: 3px 3px 6px #777766;
}

.indicateurAllumeModifiable .indicateur_chargement_note, .indicateurEteintModifiable .indicateur_chargement_note
{
	display:none;
}

.ADMIN_PARAMETRAGE_checkbox_indicateur
{
	width:20px;
}

.intituleIndicateur
{
	width:520px;
	font-weight:bold;
	font-style:italic;
	overflow:hidden;
	white-space: nowrap;
}


.boutonsIndicateur
{
	width:82px;
	padding:0px;
	text-align:right;
}

.boutonsIndicateur img
{
	margin:0px;
	padding:0px;
}

.niveauxIndicateur
{
	text-align:left;
	width:220px;
}
