
/********************************
MENU BILAN
*******************************/
#enteteTabNotation
{
	vertical-align:middle;
	min-height:50px;
}

#enteteTabNotation .dropdown_menu_notation
{
	font-size:small;
	text-align:center;
	vertical-align:top;
	display:inline-block;
}

/********************************
Boutons
*******************************/
#bilanBoutonEleveSuivant
{
	display:inline-block;
	text-align:center;
	cursor:pointer;
	width:30px;
	height:30px;
	border-radius:5px;

}

#bilanBoutonEleveSuivant span
{
	display:inline-block;
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:-5px;
}

#bouton_bilan_graphe_icone canvas
{
	display:inline-block;
}

#bouton_bilan_graphe_icone
{
	display:inline-block;
	width:50px;
	height:28px;
	margin-top:-65px;
	margin-bottom:-15px;
	margin-left:-40px;
	margin-right:0px;
	padding-top:9px;
	padding-bottom:-50px;
	overflow:hidden;
}


/*******************************
Indicateurs
******************************/

.listeIndicateurs .indicateurs
{
table-layout: fixed;
}

.intituleIndicateur .titreIndicateur
{
	display:inline-block;
	width:100%;
	
	white-space: normal;
	word-wrap: break-word;
	/*display:none;*/
}

.intituleIndicateur .commentaireIndicateur
{
	font-size:small;
	display:inline-block;
	overflow:hidden;
	display:none;
	height:30px;
}

.boutonValideCommentaireEval, .boutonAnnuleCommentaireEval
{
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	margin:0px;
	-webkit-filter: drop-shadow(3px 3px 3px #777799);
	filter: drop-shadow(3px 3px 3px #777799);
}

.boutonValideCommentaireEval:hover, .boutonAnnuleCommentaireEval:hover
{
	margin-top:3px;
	margin-left:3px;
	margin-bottom:-3px;
	margin-right:-3px;
	-webkit-filter: drop-shadow(1px 1px 1px #555577);
	filter: drop-shadow(1px 1px 1px #555577);
}


/***************************
COMMENTAIRES
***************************/

#dialog-commentaireEvaluation p
{
	text-align:center;
}

#dialog-commentaireEvaluation .commentairesListeContextes
{
	display:none;	
}

#dialog-commentaireEvaluation .commentairesContexte
{
	background-color:gray;
	font-weight:bold;
	border-radius:5px;
	box-shadow: 4px 4px 6px #555;
	padding:4px;
	color:white;
	text-align:center;
}

#dialog-commentaireEvaluation .commentairesDate
{
	font-size:small;
	color:#FF9999;
}

#dialog-commentaireEvaluation .commentairesListeCommentaires
{
	margin-top:10px;
	margin-bottom:10px;
	padding-left:20px;
}


/********************************
Graphiques Bilan
*******************************/

#dialiog_graphique_camembert_domaines_conteneur
{
	text-align:center;
}

#dialiog_graphique_camembert_domaines
{
	margin:auto;
}

#dialog_graphique_toile_competences_conteneur
{
	text-align:center;
}
.BILAN_graphe_comptence
{
	border:solid;
	border-radius:5px;
	margin:5px;
	display:inline-block;
	text-align:center;
}
.BILAN_graphe_comptence canvas
{
	display:inline-block;
}

