/*******************
Ensemble
******************/
html
{
	padding:0px;
}

body
{
	font-family:arial;
	margin:0px;
	padding:0px;
}


/*******************
Entete
******************/

header,#entete
{
	background-color:black;
	width:100%;
	color:white;
	margin:0px;
	margin-top:0;
	padding:0px;
	height:100px;
}

header h1
{
	margin:auto;
	color:white;
	margin-top:0px;
	padding-left:40px;
	padding-top:30px;
}

header .loginBox
{
	float:right;
	font-size:small;
	height:60px;
	margin-top:20px;
	margin-right:20px;
	vertical-align:middle;
}

header .loginBox td
{
	font-style:italic;
	text-align:right;
}

.loginBox #boutonLogin,.loginBox #boutonLogout
{
	width:64px;
	height: 64px;
	padding: 0 0 0 10px;
	cursor: pointer;
	border:0;
}
.loginBox #boutonLogin
{
	background:url("../images/boutonLogin.png") top right no-repeat;
}
.loginBox #boutonLogout
{
	background:url("../images/boutonLogout.png") top right no-repeat;
}
.loginBox #boutonLogin:active
{
	background:url("../images/boutonLogin-appuye.png") top right no-repeat;
}
.loginBox #boutonLogout:active
{
	background:url("../images/boutonLogout-appuye.png") top right no-repeat;
}


/*******************
Tabs
******************/
#tab-onglets li
{
	text-align:center;
}
#tab-onglets li img
{
	height:50px;
}

/*******************
Entete dans les tables
******************/

.selecteurs_haut_de_page
{
	text-align:center;
	margin-bottom:10px;
}




/*****************************
 NOTATIONS
 ***************************/
 
 
 #RecapNotationEleve
 {
	 margin-top:10px;
 }



